/*¹ºÎï³µ*/

.gwc_hover{ box-shadow:2px 2px 3px rgba(55, 55, 55, 0.05); -moz-box-shadow:2px 2px 3px rgba(55, 55, 55, 0.05);width:255px; height:auto; overflow:hidden; border:1px solid #cab9b9; background:#fff; margin:auto;position: absolute;right: 43px;bottom:38px;display:none;font-family:"Microsoft Yahei";z-index:-1}

.gwc_list{ width:247px; height:105px; float:left; border-bottom:1px dotted #dadada; padding:4px; background:#fff; position:relative;}
.gwc_list_xx{ width:17px; height:17px; position:absolute; top:7px; right:24px;}
.gwc_list .gwc_none{ line-height:22px; color:#666666; font-size:14px; line-height:70px;}
.gwc_list_left{ width:70px; height:104px; float:left}
.gwc_list_right{ width:171px; height:104px; float:left;line-height:26px; padding-left:6px; font-size:14px; text-align:left;}

.gwc_bottom{ width:242px; height:80px;color:#555555; float:left; background:#f6f1ef; padding-right:13px; line-height:20px; padding-top:5px; overflow:hidden; font-size:14px}
.gwc_bottom_an{ display:block;width:78px; height:26px; float:left;color:#fff; text-align:center;line-height:26px; background:#8f494a}
.gwc_bottom a{text-decoration: none;}
.gwc_b_right{ float:right; margin-top:8px;}
.index_ff{width:44px;position:fixed;right:1px;bottom:1px;_position:absolute;_top:expression(eval(documentElement.scrollTop+70));z-index:9999;}
.index_gwc{ width:44px;height:44px; float:left;background:url(http://image13.wine9.com/activity/2014/new_index_2014/right_03.jpg) no-repeat right top; font-family:"Microsoft Yahei";text-align:center; color:#FFFFFF; }
.index_ff  .ff_01{background:url(http://image13.wine9.com/activity/2014/new_index_2014/right_03.jpg) no-repeat right top;}
.index_zxkf{width:44px;height:44px; float:left;background:url(http://image13.wine9.com/activity/2014/new_index_2014/outkf1.jpg) no-repeat right top; font-family:"Microsoft Yahei";text-align:center; color:#FFFFFF; font-size:14px; color:#fff;margin-top:5px; cursor:pointer;}

.index_ff  .ff_02{background:url(http://image13.wine9.com/activity/2014/new_index_2014/right_hover_06.png) no-repeat right top;}
.index_fhtop{width:44px; height:44px; float:left;margin-top:5px; cursor:pointer;}
.index_ff  .ff_03{background:url(http://image13.wine9.com/activity/2014/new_index_2014/right_hover_08.png) no-repeat right top;}

.index_ewm{ width:44px;height:44px; float:left;background:url(http://images.pinwine.cn/activity/2014/index_img/sm_06.jpg) no-repeat right top; margin-bottom:10px;}
.ewm_hover{ box-shadow:2px 2px 3px rgba(55, 55, 55, 0.05); -moz-box-shadow:2px 2px 3px rgba(55, 55, 55, 0.05);width:136px; height:171px; overflow:hidden; border:1px solid #cab9b9; background:#fff; margin:auto;position: absolute;right: 43px; top:-120px; bottom:38px;display:none;font-family:"Microsoft Yahei";z-index:-1}