
/*banner开始*/
.index_new_banner2{height:300px; margin:auto;position:relative; overflow:hidden;}

.rslides21 {position: relative;list-style: none;overflow: hidden;width: 100%;padding: 0;margin: 0;z-index:200; }
.rslides21 li {-webkit-backface-visibility: hidden;position: absolute;display: none;width: 100%;height:300px;left: 0;top: 0;z-index:200;}
.rslides21 li:first-child {position: absolute;display: block;float: left; }

.rslides21 img {display: block; height: auto;float: left;width: 100%;border: 0;}
.rslides21_tabs {position:absolute;top:278px;right:48%;z-index:200;}
.rslides21_tabs li{cursor: pointer; display: block;float: left; height:10px;margin-right: 5px;overflow: hidden; text-indent: -9999em; width: 10px;}
.rslides21_tabs li a{
    cursor: pointer;
    display: block;
    float: left;
    height:15px;
    overflow: hidden;
    text-indent: -9999em;
    width: 15px;
	}
.rslides21_tabs li.rslides2_here{
	background: none repeat scroll 0 0 #000;opacity: 1;
}
.banner_1200_2{ width:1200px; margin:0 auto;position:relative;}
.index_new_banner2 .rel2{ }
.index_new_banner2 .slide_link2{ width:1200px; height:300px; overflow:hidden; display:block;}



/*banner结束*/


.rslides25 {position: relative;list-style: none;overflow: hidden;width: 100%;padding: 0;margin: 0;z-index:200; }
.rslides25 li {-webkit-backface-visibility: hidden;position: absolute;display: none;width: 100%;height:300px;left: 0;top: 0;z-index:200;}
.rslides25 li:first-child {position: absolute;display: block;float: left; }

.rslides25 img {display: block; height: auto;float: left;width: 100%;border: 0;}
.rslides2_tabs {position:absolute;top:278px;right:80%;z-index:200;}
.rslides2_tabs li{cursor: pointer; display: block;float: left; height:10px;margin-right: 5px;overflow: hidden; text-indent: -9999em; width: 10px;}
.rslides2_tabs li a{
    border-radius: 10px;
    cursor: pointer;
    display: block;
    float: left;
    height:15px;
    overflow: hidden;
    text-indent: -9999em;
    width: 15px;
	}
.rslides2_tabs li.rslides2_here{
	background: none repeat scroll 0 0 #000;opacity: 1;
}


.rslides26 {position: relative;list-style: none;overflow: hidden;width: 100%;padding: 0;margin: 0;z-index:200; }
.rslides26 li {-webkit-backface-visibility: hidden;position: absolute;display: none;width: 100%;height:300px;left: 0;top: 0;z-index:200;}
.rslides26 li:first-child {position: absolute;display: block;float: left; }

.rslides26 img {display: block; height: auto;float: left;width: 100%;border: 0;}


.rslides214 {position: relative;list-style: none;overflow: hidden;width: 100%;padding: 0;margin: 0;z-index:200; }
.rslides214 li {-webkit-backface-visibility: hidden;position: absolute;display: none;width: 100%;height:300px;left: 0;top: 0;z-index:200;}
.rslides214 li:first-child {position: absolute;display: block;float: left; }

.rslides214 img {display: block; height: auto;float: left;width: 100%;border: 0;}


.rslides210 {position: relative;list-style: none;overflow: hidden;width: 100%;padding: 0;margin: 0;z-index:200; }
.rslides210 li {-webkit-backface-visibility: hidden;position: absolute;display: none;width: 100%;height:300px;left: 0;top: 0;z-index:200;}
.rslides210 li:first-child {position: absolute;display: block;float: left; }

.rslides210 img {display: block; height: auto;float: left;width: 100%;border: 0;}


.rslides215 {position: relative;list-style: none;overflow: hidden;width: 100%;padding: 0;margin: 0;z-index:200; }
.rslides215 li {-webkit-backface-visibility: hidden;position: absolute;display: none;width: 100%;height:300px;left: 0;top: 0;z-index:200;}
.rslides215 li:first-child {position: absolute;display: block;float: left; }

.rslides215 img {display: block; height: auto;float: left;width: 100%;border: 0;}


.rslides221 {position: relative;list-style: none;overflow: hidden;width: 100%;padding: 0;margin: 0;z-index:200; }
.rslides221 li {-webkit-backface-visibility: hidden;position: absolute;display: none;width: 100%;height:300px;left: 0;top: 0;z-index:200;}
.rslides221 li:first-child {position: absolute;display: block;float: left; }

.rslides221 img {display: block; height: auto;float: left;width: 100%;border: 0;}


.rslides227 {position: relative;list-style: none;overflow: hidden;width: 100%;padding: 0;margin: 0;z-index:200; }
.rslides227 li {-webkit-backface-visibility: hidden;position: absolute;display: none;width: 100%;height:300px;left: 0;top: 0;z-index:200;}
.rslides227 li:first-child {position: absolute;display: block;float: left; }

.rslides227 img {display: block; height: auto;float: left;width: 100%;border: 0;}


/*banner开始*/
.index_new_banner3{height:241px; margin:auto;position:relative; overflow:hidden;}

.banner_1200_3{ width:233px;margin:0 auto;position:relative;}
.index_new_banner3 .rel2{ }
.index_new_banner3 .slide_link2{ width:233px; height:241px; overflow:hidden; display:block;}



/*banner结束*/

